* {
    font-family:'Courier New', Courier, monospace, sans-serif;
}

.pag {
    margin: 3rem;
    padding: 3 rem;
}

.boton {
    background-color: black;
    color: white;
    border-color: black;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3 rem;
}